* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: rockwell;
  background-color: rgb(252, 224, 229);
}

.container {
  height: 100vh;
  display: flex;
  /* margin: 0 auto; */
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 224, 229);
}

.clac {
  border-radius: 1rem;
  background-color: rgb(209, 87, 110);
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 66px);
  box-shadow: inset 3px 3px 13px rgb(229, 186, 200),
    6px 6px 13px rgba(0, 0, 0, 0.16);
}

input {
  grid-column: span 4;
  height: 68px;
  width: 258px;
  background-color: rgb(241, 223, 226);
  border: none;
  border-radius: 32px;
  color: rgb(73, 4, 38);
  text-align: right;
  margin: 48px 0px 30px 0px;
  padding: 23px;
  font-size: 30px;
  box-shadow: inset 8px 8px 13px rgb(231, 178, 196),
    6px 6px 13px rgba(0, 0, 0, 0.16);
}

button {
  box-shadow: inset 8px 8px 13px rgb(229, 186, 200),
    6px 6px 13px rgba(0, 0, 0, 0.16);
  background-color: rgb(241, 223, 226);
  border: none;
  color: rgb(73, 4, 38);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}

button:hover {
  background-color: rgb(243, 179, 191);
  box-shadow: inset -6px;
}
.backspace {
  font-size: 17px;
}

.equal {
  width: 125px;
  border-radius: 42px;
  box-shadow: inset 8px 8px 13px rgb(229, 186, 200),
    6px 6px 13px rgba(0, 0, 0, 0.16);
  background-color: rgb(241, 223, 226);
  font-size: 35px;
}
